* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  background-color: #FFFFFF;
  color: #333;
  --dark-brown: #1E000E;
  --yellow: #F7C325;
  --dark-yellow: #C89D1C;
  --cream: #FDF3D3;
  --white: #FFFFFF;
  --gray: #A3A3A3;
  --black: #000000;
  --gradient-cream: linear-gradient(to bottom, #BA8C66, #A37654);
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
  line-height: 1;
  letter-spacing: -1px;
}

.scheme--1 {
  background-color: var(--white);
  color: var(--dark-brown); 
}

.scheme--2 {
  background-color: var(--dark-brown);
  color: var(--cream); 
}

.scheme--3 {
  background-color: var(--yellow);
  color: var(--dark-brown);
}

.scheme--4 {
  background-color: var(--cream);
  color: var(--dark-brown);
}

.container {
  width: 100%;
  max-width: 1480px;
  padding-left: 50px !important;
  padding-right: 50px !important;
  margin: 0 auto;
}

.header-top {
  text-align: center;
  padding: 8px 0;
  font-size: 16px;
  letter-spacing: -0.75px;
}

.header-top button {
  color: var(--cream);
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: inherit;
}

.header-top button:hover {
  text-decoration-thickness: 2px;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 16px;
  padding: 24px 0;
}

.menu {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  line-height: 150%;
  font-weight: 700;
  cursor: pointer;
}

.logo {
  width: 100%;
  height: auto;
  display: flex;
}

.logo img {
  width: 100%;
  height: auto;
}

.header-icons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 16px;
}

.icon {
  width: 24px;
  height: 24px;
}

.login, .cart {
  display: flex;
  cursor: pointer;
  z-index: 1;
}

.login:hover > .icon, .cart:hover > .icon, .close-cart-btn:hover > .icon, .close-popup-btn:hover > .icon, .close-chat-btn:hover > .icon, .remove:hover > .icon-remove, .menu:hover > .icon, .close-menu-btn:hover > .icon {
  transform: scale(1.15);
}

.button-box {
  position: relative;
}

.button-box .btn:link,
.button-box .btn:visited {
  transition: all .2s;
}

.button-box .btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button-box .btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button-box .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.button-box .btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.button-box .btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}

.button.scheme--3:hover {
  background-color: var(--dark-yellow);
}

.cart {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 12px;
  line-height: 1;
}

.hidden {
  display: none !important;
}

.hero {
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.hero-img {
  width: 100%;
  height: clamp(400px, 26.45vw, 100vh);
  position: relative;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 30% 50%;
}

.hero-text-wrapper {
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.hero-text {
  margin-right: 3.75%;
  width: 100%;
  max-width: 564px;
  margin-left: auto;
  text-align: left;
  letter-spacing: -1px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-text h1 {
  font-weight: 600;
  max-width: 490px;
}

.hero-text h1 span {
  font-style: italic;
}

.hero-text p {
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
}

main {
  padding: 56px 0 88px;
}

.main-heading {
  color: var(--yellow);
  font-size: 48px;
  text-align: center;
  margin-bottom: 24px;
}

.filter {
  display: flex;
  align-items: start;
  gap: 8px;
  overflow: hidden;
  padding: 12px 0;
}

#filter-heading {
  padding: 3px 24px;
  display: flex;
  gap: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  width: fit-content;
  flex-shrink: 0;
}

.filters-wrapper {
  display: flex;
  width: 100%;
  flex-shrink: 1;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.filters-wrapper::-webkit-scrollbar {
  display: none;
}

.filter-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.filter-buttons button {
  appearance: none;
  padding: 6px 16px;
  border-radius: 32px;
  color: var(--dark-brown);
  background: transparent;
  border: 2px solid var(--dark-brown);
  cursor: pointer;
  transition: all 0.1s ease-in;
  width: max-content;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

.filter-buttons button:hover, .filter-buttons button.active {
  background: var(--yellow);
  border: 2px solid var(--yellow);
}

.products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

.product-category {
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding-top: 32px;
}

.category-heading {
  padding-bottom: 16px;
  border-bottom: 2px solid var(--black);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.product-card {
  border-radius: 16px;
  transition: box-shadow 0.3s;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image-wrapper {
  width: 100%;
  height: 190px;
  position: relative;
}

.product-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sale-badge {
  position: absolute;
  left: 24px;
  top: 17px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  border-radius: 32px;
}

.product-info-wrapper {
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product-title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rating, .rating-stars {
  display: flex;
  align-items: center;
}

.rating-stars span {
  display: flex;
}

.star {
  width: 20px;
  height: 20px;
}

.rating-numbers {
  font-size: 14px;
  font-weight: 500;
  margin-left: 2px;
}

.product-card h4 {
  font-size: 24px;
}

.product-card .price {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  letter-spacing: -1px;
}

.product-card .regular-price {
  font-size: 16px;
  min-height: 16px;
  color: var(--gray);
  text-decoration: line-through;
}

.product-card .discount-price {
  font-size: 20px;
  color: var(--yellow);
}

.product-card button {
  border: none;
  padding: 12px 10px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.newsletter-wrapper {
  display: grid;
  grid-template-columns: min(467px, 50vw) 1fr;
}

.newsletter-wrapper img {
  width: 100%;
  height: auto;
}

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 660px;
  margin: auto;
  padding: 0 32px;
}

.newsletter h3 {
  font-size: 32px;
}

.newsletter form {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 537px;
}

input {
  padding: 14.5px 16px;
  width: 100%;
  border: 2px solid var(--dark-brown);
  border-radius: 8px;
  background-color: transparent;
  font-size: 16px;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.72);
  font-size: 16px;
}

.newsletter input:focus {
  outline: 1px solid var(--dark-brown);
}

.newsletter button {
  width: max-content;
  padding: 12px 24px;
  flex-shrink: 0;
  cursor: pointer;
}

.hide-large {
  display: none !important;
}

/* Drawer Cart Styles */
.drawer {
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  transform: translateX(100%);
  max-width: 100%;
  height: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.drawer.open {
  transform: translateX(0);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.25);
}

/* Cart drawer Header */
.drawer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 24px;
}

.drawer-header img {
  width: 140px;
}

.close-cart-btn, .close-menu-btn, .close-popup-btn, .close-chat-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: currentColor;
}

/* Cart drawer Body */
.drawer-body {
  flex: 1;
  padding: 32px 24px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.empty-cart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.cart-item {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--gray);
}

.item-image-wrapper {
  width: 100%;
  aspect-ratio: 1.65;
  height: auto;
}

.item-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.item-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.item-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.item-title-wrapper .remove {
  background: none;
  border: none;
  color: var(--gray);
  cursor: pointer;
}

.item-info-wrapper .product-title {
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
}

.item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 12px;
}

.quantity-controls button {
  padding: 4px;
  display: flex;
  background: none;
  border: 1px solid var(--gray);
  border-radius: 4px;
  cursor: pointer;
  color: var(--dark-brown);
}

.quantity-controls button:hover > .quantity-icon {
  transform: scale(1.2);
}

/* Drawer Footer */
.drawer-footer {
  padding: 16px 24px;
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.checkout-btn {
  width: 100%;
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.continue-btn {
  text-decoration: underline;
  padding: 6px;
  width: 100%;
  font-size: 14px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
}

/* Menu drawer */

.menu-drawer {
  height: 100%;
  width: fit-content; /* Largura do menu */
  max-width: min(400px, 100%);
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%); /* Inicialmente escondido */
  transition: transform 0.3s;
  z-index: 1000;
}

.menu-drawer.open {
  transform: translateX(0);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.25);
}

.menu-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 32px 24px;
}

.menu-drawer ul {
  list-style: none;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
}

.menu-drawer ul li {
  display: flex;
}

.menu-drawer ul a {
  color: currentColor;
  text-decoration: none;
  font-weight: 500;
  padding: 12px 48px 12px 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.menu-drawer ul a svg {
  position: relative;
  transition: left 0.2s ease-in-out;
  left: 0;
}

.menu-drawer .icon-arrow {
  transform: rotate(-90deg);
}

.menu-drawer ul a:hover {
  background: var(--cream);
}

.menu-drawer ul a:hover > svg {
  left: 24px;
}


/* Register popup */
.popup {
  display: flex;
  position: fixed;
  right: -100vw;
  top: 50%;
  transform: translate(50%, -50%);
  width: 100%;
  height: fit-content;
  max-width: min(calc(100vw - 48px), 600px);
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  overflow: hidden;
  transition: right 0.3s;
}

.popup.open {  
  right: 50%;
}

.popup-content {
  margin: 0;
  padding: 32px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.popup-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.registration-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.popup input {
  background: var(--white);
  border-color: var(--white);
}

.popup input:focus {
  outline: 2px solid var(--yellow);
}

/* Chat Popup Styles */
.chat-popup {
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: fixed;
  bottom: 50px;
  right: calc(max(50px, 50vw - 690px));
  width: 64px;
  height: 64px;
  max-width: calc(100vw - 48px);
  border-radius: 16px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
  z-index: 100;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.chat-popup.open {
  opacity: 1;
  width: 300px;
  height: 400px;
}

.chat-header {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-body {
  padding: 12px;
  height: 100%;
  overflow-y: auto;
  background-color: var(--cream);
}

.chat-footer {
  display: flex;
  padding: 12px;
  border-top: 1px solid var(--gray);
}

.chat-footer input {
  flex: 1;
  padding: 8px;
  border: 1px solid var(--gray);
  border-radius: 8px;
  font-size: 14px;
}

.chat-footer input::placeholder {
  font-size: 14px;
}

.chat-footer input:focus {
  outline: 1px solid var(--dark-brown);
}

.chat-footer button {
  margin-left: 10px;
  padding: 8px 12px;
  font-size: 14px;
}

.chat-footer button:hover {
  background-color: var(--dark-yellow);
}

.chat-btn {
  position: fixed;
  bottom: 50px;
  right: calc(max(50px, 50vw - 690px));
  padding: 16px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  z-index: 100;
  display: none;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
}

.chat-btn.open {
  display: flex;
}

.chat-btn:hover {
  background-color: var(--dark-yellow);
}

.chat-message {
  margin-bottom: 12px;
  padding: 16px;
  background: white;
  border-radius: 16px 16px 0 16px;
  width: 80%;
  margin-left: auto;
  font-size: 14px;
}

.chat-message.sent {
  text-align: right;
  color: var(--dark-brown);
}

.chat-message.received {
  text-align: left;
  color: var(--white);
  background: var(--dark-brown);
  margin: 0 auto 0 0;
  border-radius: 16px 16px 16px 0;
}

@media screen and (max-width: 1200px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 990px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .button-box {
    position: absolute;
    left: 24px;
    bottom: 24px;
    z-index: 10;
  }

  .products {
    overflow: hidden;
    gap: 48px;
  }

  .product-category {
    gap: 32px;
  }

  .product-grid-wrapper {
    width: 100vw;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .product-grid-wrapper::-webkit-scrollbar {
    display: none;
  }

  .product-grid {
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
  }

  .product-card {
    max-width: min(85vw, 320px);
  }

  .newsletter-wrapper {
    grid-template-columns: 1fr;
  }

  .newsletter {
    padding: 64px 0 120px;
    gap: 40px;
    max-width: unset;
  }

  .newsletter h3 {
    font-size: 24px;
  }

  .newsletter form {
    flex-direction: column;
    max-width: unset;
  }

  .newsletter button {
    width: 100%;
  }

  h1 {
    font-size: clamp(28px, 8.5vw, 36px);
  }
  
  .hide-large {
    display: flex !important;
  }
  
  .hide-small {
    display: none !important;
  }

  .container, .container-mobile {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  .menu {
    padding: 12px 18px;
  }

  .popup-content {
    padding: 24px;
  }

  .hero-img img {
    object-position: 50% 50%;
  }

  .hero-text-wrapper {
    position: static;
    transform: unset;
    background: var(--gradient-cream);
  }

  .hero-text {
    padding: 32px 0;
    margin: 0 auto;
    max-width: unset;
  }

  .hero-text h1 {
    max-width: unset;
  }

  .hero-text p {
    font-size: clamp(20px, 5.6vw, 24px);
  }

  .filter {
    gap: 16px;
  }

  #filter-heading {
    padding: 3px 0;
  }

  .filter-buttons {
    width: max-content;
    flex-wrap: nowrap;
  }

  .chat-popup, .chat-btn {
    right: 24px;
    bottom: 24px;
  }
}

@media screen and (max-width: 375px) {
  .button-box {
    left: 16px;
    bottom: 16px;
  }
  
  .container, .container-mobile {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .menu {
    padding: 0;
  }

  .product-grid {
    gap: 16px;
  }

  .chat-popup, .chat-btn {
    right: 16px;
    bottom: 16px;
  }

  .chat-popup {
    max-width: calc(100vw - 32px);
  }
}
